:root {
  --primary: hsla(160, 100%, 30%, 1);
  --secondary: hsl(45deg, 100%, 40%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --light: hsl(0deg, 0%, 60%);
  --medium: hsl(0deg, 0%, 40%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

h1 {
  margin-bottom: 48px;
}

/* Add styles here! */
main {
  background-color: var(--medium);
  border-top: 8px solid var(--light);
  padding-bottom: 58px;
  padding-top: 64px;
}

.max-width-wrapper {
  padding-inline: 1.5rem;
  max-width: 808px;
  margin-inline: auto;
}

.card {
  border-bottom: 8px solid var(--light);
  background-color: white;
  padding: 8px 24px 1.5rem;
}

.card p {
  font-weight: 500;
}

.indented-heading {
  background-color: var(--secondary-light);
  border-bottom: 8px solid var(--secondary);
  padding: 16px 2rem;
  padding-bottom: 15px;
  margin: 0;
  margin-left: -32px;
  max-width: fit-content;
}

.intro-chunk {
  max-width: 415px;
  padding-bottom: 64px;
  padding-top: 96px;
}

.intro-chunk strong {
  color: var(--primary);
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .card {
    margin-inline: -1.5rem;
  }
}
